geopandas==1.1.4
gurobipy==12.0.3
matplotlib==3.11.1
names_generator==0.2.0
networkx==3.6.1
numpy==2.5.1
osmnx==2.1.1
pandas==3.0.5
pyproj==3.7.2
PyYAML==6.0.3
scipy==1.18.0
seaborn==0.13.2
shapely==2.1.2
